<!DOCTYPE html>
<html>
  <head>
    <title>PostApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2 class = "title" >Chatting Room</h2>
    </header>
    <main>
      <div class = "container" >
      <%= yield %>
      </div>
    </main>
    <footer>
      <p class = "copy" >copyright</p>
    </footer>
  </body>
</html>
